<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photo Gallery</title>
</head>
<body>
    <div class="container" >
        <div class="row" id="firstrow-images">
          <div class="col-sm-3">
            <img src="/images/food 1.jpeg"class=“card-img-top” alt=“...“ id="images-rows1">
            
          </div>
          <div class="col-sm-3">
            <img src="/images/food2.jpeg"class=“card-img-top” alt=“...“ id="images-rows1">
            
          </div>
          <div class="col-sm-3">
            <img src="/images/food3 .jpeg"class=“card-img-top” alt=“...“ id="images-rows1">
           
          </div>
          <div class="col-sm-3">
            <img src="/images/food 4.jpeg"class=“card-img-top” alt=“...“ id="images-rows1">
            
          </div>
        </div>
      </div>
</body>
</html>