<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jamie's Work</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
    <img id="capa-img" src="/images/capa 6 .jpg">
    <h2>Career</h2>
<p class="work-para">Oliver's first job was a pastry chef at Antonio Carluccio's Neal Street restaurant, where he first gained experience at preparing Italian cuisine, and developed a relationship with his mentor Gennaro Contaldo; later in his career Oliver employed Contaldo to help run his collection of high street restaurants, Jamie's Italian.[6] Oliver moved to The River Café, Fulham as a sous-chef. He was noticed there by the BBC in 1997, after making an unscripted appearance in a documentary about the restaurant, Christmas at the River Cafe.[7]

    In 1999, his BBC show The Naked Chef debuted, and his cookbook became a bestseller in the United Kingdom.[8] That same year, Oliver was invited to prepare lunch for the then-Prime Minister Tony Blair at 10 Downing Street.[8]
    
    After three series of Naked Chef programmes (The Naked Chef, Return of the Naked Chef & Happy Days with The Naked Chef) for the BBC, Oliver moved to Channel 4 in the United Kingdom, where his first series was a documentary, Jamie's Kitchen, which followed the setting up of Fifteen restaurant in London. The restaurant, in Westland Place, London continues to train young adults who have a disadvantaged background for careers in the restaurant business.[9]
    
    In June 2003, Oliver was awarded an MBE for his services to the hospitality industry.[10] Although it is customary to wear morning dress or a lounge suit for the event, Oliver did not wear a tie with his brown Paul Smith suit, saying: "I like ties but I prefer not to wear one when I am nervous."[11]
    
    In 2005, Oliver initiated a campaign originally called "Feed Me Better" to move British schoolchildren towards eating healthy foods and cutting out junk food. As a result, the British government also pledged to address the issue. His public campaign for changes in nutrition resulted in people voting him as the "Most Inspiring Political Figure of 2005", according to a Channel 4 News annual viewer poll.[8] His emphasis on cooking fresh, nutritious food continued as he created Jamie's Ministry of Food, a television series where Oliver travelled to inspire everyday people in Rotherham, Yorkshire, to cook healthy meals. Another television series is Jamie Oliver's Food Revolution (2010–11), where he travelled first to Huntington, West Virginia and then to Los Angeles to change the way Americans eat, and address their dependence on fast food.[8]
    
    Oliver's holding company, Jamie Oliver Holdings Ltd., earned enough for Oliver to have been listed on The Sunday Times list of richest Britons under 30.[12][13]
    
    In December 2009, Oliver received the 2010 TED Prize.[14]
    
    He hosted Jamie's 15 Minute Meals on Channel 4, which aired for 40 episodes in 2012.[15]
    
    Oliver is the second-best-selling British author, behind J. K. Rowling, and the best-selling British non-fiction author since records began.[16] As of February 2019, Oliver has sold more than 14.55 million books, generating just under £180m for the chef.[17]</p>
    <hr class="break" heigth=30 width=1200>
    <h2>Jamie Oliver Restaurant Group</h2>
    <p class="work-para"> In June 2008, Oliver launched a restaurant, Jamie's Italian, his first high street business venture, in Oxford, England.[18] At its peak, there were 42 Jamie's Italian restaurants in the UK. The brand was franchised and includes branches in the UAE, Australia (which Oliver part-bought back in November 2016 after its founders went bankrupt),[19] Canada, Cyprus, Iceland, Ireland, Russia, Turkey, Singapore and Hong Kong.

        In January 2017, Chief Executive Simon Blagden announced the closure of six restaurants in the UK affecting 120 jobs, at sites in Aberdeen, Cheltenham, Exeter, Royal Tunbridge Wells, and in London at Ludgate and Richmond.[20]
        
        In January 2018, as part of an agreement with creditors to secure £71.5M of debt, JORG proposed to enter the UK company Jamie's Italian Ltd into a company voluntary arrangement, seeking rent reductions on eight outlets and closing a further 12 in Bath, Bristol, Bluewater, Chelmsford, Harrogate, Kingston, Milton Keynes, Reading, and St Albans, and Greenwich, Piccadilly and Threadneedle Street in London. As part of the agreement, court papers revealed that Jamie's Italian had debts of £71.5m, including £2.2m in wages owed to staff; £30.2m of overdrafts and loans; £41.3m owed to landlords, HM Revenue and Customs, suppliers and other creditors; with £47m of the debts covered by loans from HSBC Bank and Oliver's other companies.[21][22][23]
        
        In 2009, Oliver's chain of cooking school/delis, Recipease, opened in several locations in the UK including Brighton, Battersea, and Notting Hill in London. By the end of 2015, all stores had been closed.
        
        In 2011, Oliver set up Barbecoa, a barbecued meat-based restaurant with his friend, American barbecue expert Adam Perry Lang. There were two outlets, both in London, one in Piccadilly and a second in St Pauls. In 2014 the Piccadilly outlet voluntarily closed for 24 hours after hygiene inspectors gave it the second-lowest rating. The Times reported they had found mouse droppings, mouldy carcasses and out-of-date meat.[24] In February 2018, JORG confirmed that they had "instructed a firm of real estate agents to ascertain the potential value and market suitability of two of our sites".[25] On 19 February 2018, Barbecoa Ltd went into administration, with Oliver immediately buying back the St Paul's site in a pre-packed agreement via a new subsidiary.[26]
        
        The group went into administration on 21 May 2019 with 22 of 25 restaurants closed and 1,000 jobs lost.[27] Jamie's Italian restaurants and Jamie Oliver's Diner at Gatwick Airport continued operations until they were sold to catering company SSP. Jamie Oliver's Fifteen Cornwall at Watergate Bay, as well as 61 overseas locations and the catering services operated by Aramark in the U.S., are all operated by franchisees so they were unaffected.[28]
        
        In January 2020, KPMG, the firm administrators, said that most of the £80 million Jamie Oliver's restaurant chain owed after its collapse in May 2019 will not be recovered. Hundreds of suppliers, as well as some town councils, will bear the brunt of the losses.[29] In 2020 an employment tribunal ruled that Oliver's restaurants broke labour laws by failing to consult employees prior to making them redundant.</p>
        <hr class="break" heigth=30 width=1200>
        <h2>Advertising</h2>
        <p class="work-para">From June 2000, Oliver became the public face of the Sainsbury's supermarket chain in the UK, appearing on television and radio advertisements and in-store promotional material. The deal earned him an estimated £1.2 million every year, although neither J. Sainsbury nor Oliver has ever discussed the exact figure.[32][8] By 2004, the company had made 65 advertisements with him, but the arrangement was not without controversy. Oliver was reported to have admitted that he does not use supermarkets, despite regularly having "product placement" in his early TV series.

            He criticised Sainsbury's CEO Justin King when Oliver slammed the "junk" sold by supermarkets that ends up in the lunchboxes of millions of children. King reportedly hit back, saying: "Dictating to people—or unleashing an expletive-filled tirade—is not the way to get engagement."[33] In July 2011, after eleven years, the partnership between Oliver and Sainsbury's ended. The final television advertisement was for Christmas 2011.[34]
            
            Oliver also markets a line of non-stick pans and cookware for Tefal and has appeared in Australian television commercials for Yalumba wines, using Del Boy's catchphrase of "Lovely Jubbly".[35]
            
            In August 2013, Oliver and Canadian supermarket chain Sobeys announced a partnership in improving nationwide nutrition and advertising campaigns.[36] In October 2013, he began a partnership with the Australian chain Woolworths Supermarkets on a series of better nutrition initiatives and advertising campaigns.[37]
            
            In January 2016, Oliver and HelloFresh, an international meal kit subscription service, announced a partnership to incorporate his recipes to the weekly subscription deliveries. Customers receive one recipe written by Jamie Oliver with all the exact ingredients and steps for the dish. HelloFresh also agreed to the Jamie Oliver Food Foundation per Meal Box in addition to supporting other Foundation activities.[38]
            
            In September 2018, Oliver created a series of recipes and tips for Tesco and participated in the promotion of the company's food products.[39]</p>
            <hr class="break" heigth=30 width=1200>     
            <h2>Charity and campaigning</h2>
     <p class="work-para">Oliver conceived and established the Fifteen charity restaurant, where he trained disadvantaged young people to work in the hospitality industry. Following the success of the original restaurant in London, more Fifteens have opened around the globe: Fifteen Amsterdam opened in December 2004, Fifteen Cornwall in Newquay in May 2006 and Fifteen Melbourne in September 2006 with an Australian friend and fellow chef Tobie Puttock.[63] Fifteen Melbourne has since closed.[64]

        Oliver began a formal campaign to ban unhealthy food in British schools and to get children eating nutritious food instead. Oliver's efforts to bring radical change to the school meals system, chronicled in the series Jamie's School Dinners, challenged the junk-food culture by showing schools they could serve healthy, cost-efficient meals that kids enjoyed eating.[65] His efforts brought the subject of school dinners to the political forefront and changed the types of food served in schools.[66]
        
        Oliver's Ministry of Food campaign began in 2008 with the Channel 4 series of the same name and the opening of the first Ministry of Food Centre in Rotherham. More MoF Centres have since opened in Bradford, Leeds, Newcastle/North-East, Stratford (now known as Food Academy) and Alnwick. Ministry of Food Centres and trucks have opened in Australia in Ipswich, near Brisbane and Geelong, Melbourne. State governments in Australia provided funding for these Centres.[citation needed]
        
        In December 2009, Oliver was awarded the 2010 TED Prize for his campaigns to "create change on both the individual and governmental levels" to "bring attention to the changes that the English, and now Americans, need to make in their lifestyles and diet".[14] In 2010, he joined several other celebrity chefs on the series The Big Fish Fight, in which Oliver and fellow chefs Hugh Fearnley-Whittingstall and Gordon Ramsay made a variety of programmes[clarification needed] to raise awareness about the discarding of hundreds of thousands of saltwater fish because the fishermen are prohibited from keeping any fish other than the stated target of the trawl.[67] He is a patron of environmental charity Trees for Cities.[68]
        
        Oliver's net worth was estimated in 2014 at £240 million.[69]
        
        </p>
        <hr class="break" heigth=30 width=1200>
        <h2>Awards and honours</h2>
     <p class="work-para">On 13 May 2001, Oliver's series The Naked Chef won the BAFTA award for Best Feature at the prestigious 2001 British Academy Television Awards, held at the Grosvenor House Hotel in Park Lane, London.[70]

        In June 2003, Oliver was awarded the MBE in the Queen's Birthday Honours.[71] A proponent of fresh organic foods, Oliver was named the most influential person in the UK hospitality industry when he topped the inaugural Caterersearch.com 100 in May 2005.[72] The list placed Oliver higher than Sir Francis Mackay, the then-chairman of the contract catering giant Compass Group, which Oliver had soundly criticised in Jamie's School Dinners. In 2006, Oliver dropped to second on the list behind fellow celebrity chef Gordon Ramsay.[73] In July 2010, Oliver regained the top spot and was named as the most powerful and influential person in the UK hospitality industry once again.[74]
        
        On 21 August 2010, Oliver won an Emmy for Jamie Oliver's Food Revolution at the 62nd Primetime Creative Arts Emmy Awards. The series tackled the problem of childhood obesity in America.[75]
        
        In 2013, Oliver was awarded an Honorary Fellowship by the Royal College of General Practitioners for his work in tackling childhood obesity by improving the nutritional value of school dinners.[76]
        
       
     On 29 October 2015, Oliver was listed by UK-based company Richtopia at number 2 in the list of 100 Most Influential British Entrepreneurs.</p>
     <hr class="break" heigth=30 width=1200>
    </body>
    <footer></footer>
</html>